@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item dropdown">
            <a class="nav-link text-light dropdown-toggle btn btn-sign-in" id="dropdown04" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-person-fill"></i> Account 
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    Profile</a>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                    <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </div>
        </li>
}
else
{
    <a asp-area="Identity" asp-page="/Account/Login" type="button" class="btn btn-sign-in">
        <i class="bi bi-person-fill"></i> Sign In
    </a>

}
</ul>
