@page
@model ProiectMPD.Pages.Releases.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Release</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Release.Name" class="control-label"></label>
                <input asp-for="Release.Name" class="form-control" />
                <span asp-validation-for="Release.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Release.Type" class="control-label"></label>
                <input asp-for="Release.Type" class="form-control" />
                <span asp-validation-for="Release.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Release.Language" class="control-label"></label>
                <input asp-for="Release.Language" class="form-control" />
                <span asp-validation-for="Release.Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Release.Label" class="control-label"></label>
                <input asp-for="Release.Label" class="form-control" />
                <span asp-validation-for="Release.Label" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Release.Artwork" class="control-label"></label>
                <input asp-for="Release.Artwork" class="form-control" />
                <span asp-validation-for="Release.Artwork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Release.Year" class="control-label"></label>
                <input asp-for="Release.Year" class="form-control" />
                <span asp-validation-for="Release.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
 <label asp-for="Release.ArtistID" class="control-label">Artist</label>
 <select asp-for="Release.ArtistID" class="form-control" asp-items="ViewBag.ArtistID"></select>
</div>
            <div class="form-group">
 <div class="table">
 <table>
 <tr>
 @{
 int cnt = 0;
 foreach (var gen in Model.AssignedGenreDataList)
 { 
 if (cnt++ % 3 == 0)
 { 
 @:</tr><tr>
 } 
@:<td>
<input type="checkbox"
 name="selectedGenres"
value="@gen.GenreID"
 @(Html.Raw(gen.Assigned ? 
"checked=\"checked\"" : "")) />
 @gen.GenreID@: @gen.Name
 @:</td>
 } 
 @:</tr>
 } 
 </table>
 </div>
 </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
