@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Mirth.NET</h1>
    <p>Add music to your Library and review your favorite Releases.</p>
</div>
